<div class="table-container" *ngIf="dates && dates.length; else noHistTemplate">
    <table mat-table [dataSource]="dates">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <th mat-cell *matCellDef="let element">{{element.date}}</th>
        </ng-container>
        
        <ng-container matColumnDef="preference">
            <th mat-header-cell *matHeaderCellDef>Preferences</th>
            <th mat-cell *matCellDef="let element">{{element.preference}}</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
</div>
<ng-template #noHistTemplate>
    <p>No history available.</p>
</ng-template>

<div class="buttons">
    <button type="reset" (click)="logout()">Logout</button>
</div>