.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.login-form .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-form button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding: 10px;
}

.login-form button:hover {
    background-color: rgb(50, 74, 120);
}

.login-form button[type="button"] {
    background-color: rgb(101, 231, 101);
}

.login-form button[type="button"]:hover {
    background-color: rgb(57, 129, 57);
}

mat-form-field{
    height: fit-content;
}

mat-card{
    background-color: #121212;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.error-message {
  margin-top: 10px;
  color: red;
  text-align: center;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #f5f5f5 inset !important;
  -webkit-text-fill-color: #000 !important;
}