h2{
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
button{
    display: block;
    margin: auto;
    width: 20%;
    max-width: 50px;
    background-color: aqua;
}
mat-label{
    color: #2a2a2a;
}