table {
    width: 100%;
    margin-top: 20px;
    background-color: #1E1E1E;
}

.p-white{
    color: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}
mat-icon:hover{
    color: #8d8d8d;
}