<app-navbar-admin/>
<div class="table-container" *ngIf="users && users.length; else noUsersTemplate">
    <table mat-table [dataSource]="users">
        <ng-container matColumnDef="email">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Email</th>
            <th mat-cell *matCellDef="let element">{{element.email}}</th>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Username</th>
            <th mat-cell *matCellDef="let element">{{element.name}}</th>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Phone number</th>
            <th mat-cell *matCellDef="let element">{{element.phone}}</th>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Delete</th>
            <th mat-cell *matCellDef="let element"><mat-icon fontIcon="delete" (click)="deleteUser(element._id)"></mat-icon></th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
</div>
<ng-template #noUsersTemplate>
    <p class="p-white">No users available.</p>
</ng-template>

<div class="buttons">
    <button type="reset" (click)="logout()">Logout</button>
</div>