table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ffffff;
    color: #3d3d3d;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-container {
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(237, 100, 100);
    width: 80%;
    color: white;
    padding: 10px;
}
mat-icon:hover{
    color: #8d8d8d;
}
mat-form-field{
    margin: auto;
    display: flex;
    width: 50%;
}