<app-navbar-admin/>
<div class="login-container">
    <form class="login-form" [formGroup]="managementForm" (ngSubmit)="onSubmit()">
        <input formControlName="date" type="text" placeholder="Date" required />
        <input formControlName="guestnum" type="text" placeholder="Number of guests" />
        <div class="buttons">
            <button type="submit">Add</button>
        </div>
        <div class="buttons">
            <button type="" (click)="genDates()">Generate Automatically</button>
        </div>
    </form>
</div>

<div class="table-container" *ngIf="dates && dates.length; else unavailableTemplate">
    <table mat-table [dataSource]="dates">
        <ng-container matColumnDef="date">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Date</th>
            <th mat-cell *matCellDef="let element">{{element.date}}</th>
        </ng-container>
        
        <ng-container matColumnDef="guestnum">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Available</th>
            <th mat-cell *matCellDef="let element">{{element.guestnum}}</th>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Delete</th>
            <th mat-cell *matCellDef="let element"><mat-icon fontIcon="delete" (click)="deleteDate(element._id)"></mat-icon></th>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th class="th-header" mat-header-cell *matHeaderCellDef>Edit</th>
            <th mat-cell *matCellDef="let element"><mat-icon fontIcon="edit" (click)="changeGuestnum(element._id)"></mat-icon></th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
    </table>
</div>
<ng-template #unavailableTemplate>
    <p class="p-white">No users available.</p>
</ng-template>

<div class="buttons">
    <button type="reset" (click)="logout()">Logout</button>
</div>